<!doctype html>
<html>
  <body>
    <header>
      <h1><a href="https://3000-williamlhl-finstagram-0hsb5d9ukw3.ws-us90.gitpod.io/experindex">Finstagram</a></h1>
    </header>
    <main role="main">
      <!-- First post: Shark -->
      <article class="finstagram-post">
      <div class="user-info">
        <img src="<%= @finstagram_post_shark[:avatar_url] %>" alt="<%= @finstagram_post_shark[:username] %>">
        <h2><%= @finstagram_post_shark[:username] %></h2>
        <h3><%= @finstagram_post_shark[:humanized_time_ago] %></h3>
      </div>
      <a class="photo" href="#">
        <img src="<%= @finstagram_post_shark[:photo_url] %>" alt="finstagram post from <%= @finstagram_post_shark[:username] %>">
      </a>
      <div class="actions">
        <%= @finstagram_post_shark[:like_count] %> likes
        <span class="comment-count"><%= @finstagram_post_shark[:comment_count] %> comment</span>
      </div>
      <ul class="comments">
        <li>
          <p>
            <%= @finstagram_post_shark[:comments][0][:username] %>: <%= @finstagram_post_shark[:comments][0][:text] %>
          </p>
        </li>
      </ul>
    </article>
  <!-- Second post: whale. -->
      <article class="finstagram-post">
      <div class="user-info">
        <img src="<%= @finstagram_post_whale[:avatar_url] %>" alt="<%= @finstagram_post_whale[:username] %>">
        <h2><%= @finstagram_post_whale[:username] %></h2>
        <h3><%= @finstagram_post_whale[:humanized_time_ago] %></h3>
      </div>
      <a class="photo" href="#">
        <img src="<%= @finstagram_post_whale[:photo_url] %>" alt="finstagram post from <%= @finstagram_post_whale[:username] %>">
      </a>
      <div class="actions">
        <%= @finstagram_post_whale[:like_count] %> likes
        <span class="comment-count"><%= @finstagram_post_whale[:comment_count] %> comment</span>
      </div>
      <ul class="comments">
        <li>
          <p>
            <%= @finstagram_post_whale[:comments][0][:username] %>: <%= @finstagram_post_whale[:comments][0][:text] %>
          </p>
        </li>
      </ul>
    </article>
  <!-- Third post: marlin -->
    <article class="finstagram-post">
    <div class="user-info">
      <img src="<%= @finstagram_post_marlin[:avatar_url] %>" alt="<%= @finstagram_post_marlin[:username] %>">
      <h2><%= @finstagram_post_marlin[:username] %></h2>
      <h3><%= @finstagram_post_marlin[:humanized_time_ago] %></h3>
    </div>
    <a class="photo" href="#">
      <img src="<%= @finstagram_post_marlin[:photo_url] %>" alt="finstagram post from <%= @finstagram_post_marlin[:username] %>">
    </a>
    <div class="actions">
      <%= @finstagram_post_marlin[:like_count] %> likes
      <span class="comment-count"><%= @finstagram_post_marlin[:comment_count] %> comment</span>
    </div>
    <ul class="comments">
      <li>
        <p>
          <%= @finstagram_post_marlin[:comments][0][:username] %>: <%= @finstagram_post_marlin[:comments][0][:text] %>
        </p>
      </li>
    </ul>
  </article>
    </main>
  </body>
</html>